In [1]:
import pandas as pd

In [2]:
data_file = 'data/hon_eats_data.csv'

# Load Data

In [3]:
df = pd.read_csv(data_file)
df.shape

(15903, 23)

In [4]:
df.head()

,Unnamed: 0,restaurant_name,description,url,top_details,about,tag_cats,tags,more_details_cats,more_details,...,value_rating,atmosphere_rating,num_reviews,ranking,address,location,image_url,user_names,bubble_ratings,review_contents
0,0,Hanks Cafe Honolulu,"Hanks Cafe Honolulu, Honolulu: See 5 unbiased ...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,Meals,"Breakfast, Lunch, Dinner",...,NaN,NaN,5.0,"#943 of 1,581 Restaurants in Honolulu","1038 Nuuanu Ave, Honolulu, Oahu, HI 96817-5117",0.1 miles from Downtown Honolulu,NaN,"['waynen95', 'Maria H', 'RowerChicago', 'Kim J...","[4.0, 5.0, 5.0, 5.0, 5.0]",['a small pub in Chinatown with great service ...
1,1,"Bethel Union, Honolulu","Bethel Union, Honolulu: See 9 unbiased reviews...",https://www.tripadvisor.com/Restaurant_Review-...,$$ - $$$,NaN,NaN,NaN,FEATURES,Reservations,...,NaN,NaN,9.0,"#832 of 1,581 Restaurants in Honolulu","1115 Bethel St, Honolulu, Oahu, HI 96813-2202",0.1 miles from Downtown Honolulu,https://media-cdn.tripadvisor.com/media/photo-...,"['28franniel', 'LW811055', 'cindyq2', 'grantki...","[4.0, 4.0, 5.0, 4.0, 2.0, 5.0, 5.0]",['Our son took us to this new and hip spot to ...
2,2,"Cafe Anasia, Honolulu","Cafe Anasia, Honolulu: See 5 unbiased reviews ...",https://www.tripadvisor.com/Restaurant_Review-...,$$ - $$$ | Vietnamese,NaN,NaN,NaN,CUISINES | Meals,"Vietnamese | Lunch, Dinner",...,NaN,NaN,5.0,"#903 of 1,581 Restaurants in Honolulu","2227 S Beretania St, Honolulu, Oahu, HI 96826-...",1.5 miles from Waikiki Beach,https://media-cdn.tripadvisor.com/media/photo-...,"['Amy M', 'EmmJoans', 'Craig O', 'Tim K']","[5.0, 5.0, 5.0, 4.0]",['This is an unexpected find. Great bar atmosp...
3,3,"Starbucks, Honolulu","Starbucks, Honolulu: See 8 unbiased reviews of...",https://www.tripadvisor.com/Restaurant_Review-...,$$ - $$$,NaN,NaN,NaN,Meals,"Breakfast, Lunch, Dinner",...,NaN,NaN,8.0,"#749 of 1,581 Restaurants in Honolulu","949 Auahi St, Honolulu, Oahu, HI 96814",1.1 miles from Downtown Honolulu,https://media-cdn.tripadvisor.com/media/photo-...,"['vrite', 'jujuju123', 'tryblueocean', 'bombgu...","[4.0, 5.0, 5.0, 5.0, 4.0]",['Super busy Starbucks location but efficient ...
4,4,"La Vela Wine & Spa, Honolulu","La Vela Wine & Spa, Honolulu: See 2 unbiased r...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,"#1,040 of 1,581 Restaurants in Honolulu","2375 Ala Wai Blvd Waikiki Sand Villa Hotel, Ho...",0.4 miles from Waikiki Beach,https://media-cdn.tripadvisor.com/media/photo-...,"['bobika', 'Dianne W']","[5.0, 5.0]","['Great ambiance, wine and delicious salmon on..."

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15903 entries, 0 to 15902
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         15903 non-null  int64
 1   restaurant_name    15903 non-null  object
 2   description        15903 non-null  object
 3   url                15903 non-null  object
 4   top_details        15463 non-null  object
 5   about              4299 non-null   object
 6   tag_cats           8227 non-null   object
 7   tags               8227 non-null   object
 8   more_details_cats  7162 non-null   object
 9   more_details       7162 non-null   object
 10  overall_rating     15653 non-null  float64
 11  food_rating        14855 non-null  float64
 12  service_rating     14860 non-null  float64
 13  value_rating       14862 non-null  float64
 14  atmosphere_rating  12972 non-null  float64
 15  num_reviews        15653 non-null  float64
 16  ranking            15500 non-null  object
 17  address            15902 non-null  object
 18  location           15450 non-null  object
 19  image_url          15369 non-null  object
 20  user_names         15903 non-null  object
 21  bubble_ratings     15903 non-null  object
 22  review_contents    15903 non-null  object
dtypes: float64(6), int64(1), object(16)
memory usage: 2.8+ MB

# Check Unique Values

In [15]:
df.nunique()

Unnamed: 0           15903
restaurant_name       1592
description           1787
url                  15903
top_details            489
about                   77
tag_cats                 5
tags                   142
more_details_cats       19
more_details           832
overall_rating           9
food_rating              6
service_rating           6
value_rating             6
atmosphere_rating        7
num_reviews            305
ranking               1497
address               1559
location               117
image_url             1281
user_names           15578
bubble_ratings       11738
review_contents      15616
dtype: int64

# Check Null Values

In [7]:
df.isnull().sum()

Unnamed: 0               0
restaurant_name          0
description              0
url                      0
top_details            440
about                11604
tag_cats              7676
tags                  7676
more_details_cats     8741
more_details          8741
overall_rating         250
food_rating           1048
service_rating        1043
value_rating          1041
atmosphere_rating     2931
num_reviews            250
ranking                403
address                  1
location               453
image_url              534
user_names               0
bubble_ratings           0
review_contents          0
dtype: int64

## Address

In [12]:
df[df['address'].isnull()]

,Unnamed: 0,restaurant_name,description,url,top_details,about,tag_cats,tags,more_details_cats,more_details,...,value_rating,atmosphere_rating,num_reviews,ranking,address,location,image_url,user_names,bubble_ratings,review_contents
7241,7241,"California Pizza Kitchen Center of Waikiki, Ho...","California Pizza Kitchen Center of Waikiki, Ho...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://media-cdn.tripadvisor.com/media/photo-...,"['gingerchilli888', 'sherryM39', 'sarahliz68',...","[4.0, 5.0, 5.0, 5.0, 3.0, 5.0, 4.0, 3.0, 4.0, ...","['Good menu selection, but pizzas were missing..."

In [11]:
df['url'][7241]

'https://www.tripadvisor.com/Restaurant_Review-g60982-d1100541-Reviews-or1370-California_Pizza_Kitchen_Center_of_Waikiki-Honolulu_Oahu_Hawaii.html'

# Explode List Columns