In [226]:
import pandas as pd
import numpy as np
import ast

In [227]:
data_file = 'data/hon_eats_data.csv'

# Load Data

In [228]:
df = pd.read_csv(data_file, index_col=0)
df['review_data'] = df['review_data'].apply(lambda x: x.strip('[]').split(','))
df.shape

(15903, 20)

In [229]:
df.head()

,restaurant_name,description,url,top_details,about,tag_cats,tags,more_details_cats,more_details,overall_rating,food_rating,service_rating,value_rating,atmosphere_rating,num_reviews,ranking,address,location,image_url,review_data
0,Hanks Cafe Honolulu,"Hanks Cafe Honolulu, Honolulu: See 5 unbiased ...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,Meals,"Breakfast, Lunch, Dinner",5.0,NaN,NaN,NaN,NaN,5.0,"#943 of 1,581 Restaurants in Honolulu","1038 Nuuanu Ave, Honolulu, Oahu, HI 96817-5117",0.1 miles from Downtown Honolulu,NaN,"[{'user_name': 'waynen95', 'bubble_rating': 4..."
1,"Bethel Union, Honolulu","Bethel Union, Honolulu: See 9 unbiased reviews...",https://www.tripadvisor.com/Restaurant_Review-...,$$ - $$$,NaN,NaN,NaN,FEATURES,Reservations,4.0,NaN,NaN,NaN,NaN,9.0,"#832 of 1,581 Restaurants in Honolulu","1115 Bethel St, Honolulu, Oahu, HI 96813-2202",0.1 miles from Downtown Honolulu,https://media-cdn.tripadvisor.com/media/photo-...,"[{'user_name': '28franniel', 'bubble_rating':..."
2,"Cafe Anasia, Honolulu","Cafe Anasia, Honolulu: See 5 unbiased reviews ...",https://www.tripadvisor.com/Restaurant_Review-...,$$ - $$$ | Vietnamese,NaN,NaN,NaN,CUISINES | Meals,"Vietnamese | Lunch, Dinner",4.5,NaN,NaN,NaN,NaN,5.0,"#903 of 1,581 Restaurants in Honolulu","2227 S Beretania St, Honolulu, Oahu, HI 96826-...",1.5 miles from Waikiki Beach,https://media-cdn.tripadvisor.com/media/photo-...,"[{'user_name': 'Amy M', 'bubble_rating': 5.0,..."
3,"Starbucks, Honolulu","Starbucks, Honolulu: See 8 unbiased reviews of...",https://www.tripadvisor.com/Restaurant_Review-...,$$ - $$$,NaN,NaN,NaN,Meals,"Breakfast, Lunch, Dinner",4.5,NaN,NaN,NaN,NaN,8.0,"#749 of 1,581 Restaurants in Honolulu","949 Auahi St, Honolulu, Oahu, HI 96814",1.1 miles from Downtown Honolulu,https://media-cdn.tripadvisor.com/media/photo-...,"[{'user_name': 'vrite', 'bubble_rating': 4.0,..."
4,"La Vela Wine & Spa, Honolulu","La Vela Wine & Spa, Honolulu: See 2 unbiased r...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2.0,"#1,040 of 1,581 Restaurants in Honolulu","2375 Ala Wai Blvd Waikiki Sand Villa Hotel, Ho...",0.4 miles from Waikiki Beach,https://media-cdn.tripadvisor.com/media/photo-...,"[{'user_name': 'bobika', 'bubble_rating': 5.0..."

In [230]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15903 entries, 0 to 15902
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   restaurant_name    15903 non-null  object
 1   description        15903 non-null  object
 2   url                15903 non-null  object
 3   top_details        15463 non-null  object
 4   about              4299 non-null   object
 5   tag_cats           8227 non-null   object
 6   tags               8227 non-null   object
 7   more_details_cats  7162 non-null   object
 8   more_details       7162 non-null   object
 9   overall_rating     15653 non-null  float64
 10  food_rating        14855 non-null  float64
 11  service_rating     14860 non-null  float64
 12  value_rating       14862 non-null  float64
 13  atmosphere_rating  12972 non-null  float64
 14  num_reviews        15653 non-null  float64
 15  ranking            15500 non-null  object
 16  address            15902 non-null  object
 17  location           15450 non-null  object
 18  image_url          15369 non-null  object
 19  review_data        15903 non-null  object
dtypes: float64(6), object(14)
memory usage: 2.5+ MB

# Check Unique Values

In [231]:
df[set(df.columns) - {'review_data'}].nunique()

about                   77
tags                   142
location               117
num_reviews            305
url                  15903
service_rating           6
description           1787
ranking               1497
atmosphere_rating        7
tag_cats                 5
address               1559
restaurant_name       1592
image_url             1281
value_rating             6
overall_rating           9
more_details_cats       19
more_details           832
food_rating              6
top_details            489
dtype: int64

# Check Null Values

In [232]:
df.isna().sum()

restaurant_name          0
description              0
url                      0
top_details            440
about                11604
tag_cats              7676
tags                  7676
more_details_cats     8741
more_details          8741
overall_rating         250
food_rating           1048
service_rating        1043
value_rating          1041
atmosphere_rating     2931
num_reviews            250
ranking                403
address                  1
location               453
image_url              534
review_data              0
dtype: int64

## Address

In [233]:
df[df['address'].isnull()]

,restaurant_name,description,url,top_details,about,tag_cats,tags,more_details_cats,more_details,overall_rating,food_rating,service_rating,value_rating,atmosphere_rating,num_reviews,ranking,address,location,image_url,review_data
7241,"California Pizza Kitchen Center of Waikiki, Ho...","California Pizza Kitchen Center of Waikiki, Ho...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://media-cdn.tripadvisor.com/media/photo-...,"[{'user_name': 'gingerchilli888', 'bubble_rat..."

In [234]:
df['url'][7241]

'https://www.tripadvisor.com/Restaurant_Review-g60982-d1100541-Reviews-or1370-California_Pizza_Kitchen_Center_of_Waikiki-Honolulu_Oahu_Hawaii.html'

## Number of Reviews

In [235]:
df[df['num_reviews'].isnull()]

,restaurant_name,description,url,top_details,about,tag_cats,tags,more_details_cats,more_details,overall_rating,food_rating,service_rating,value_rating,atmosphere_rating,num_reviews,ranking,address,location,image_url,review_data
7,"Vima Cafe, Honolulu","Vima Cafe, Honolulu: See unbiased reviews of V...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1114 Fort Street Mall, Honolulu, Oahu, HI 9681...",0.1 miles from Downtown Honolulu,NaN,[]
34,"Pho Dillingham and Grill, Honolulu","Pho Dillingham and Grill, Honolulu: See unbias...",https://www.tripadvisor.com/Restaurant_Review-...,Vietnamese,NaN,NaN,NaN,CUISINES,Vietnamese,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1111 Dillingham Blvd Ste E9, Honolulu, Oahu, H...",1.1 miles from Downtown Honolulu,NaN,[]
148,"Lime Light Kitchen, Honolulu","Lime Light Kitchen, Honolulu: See unbiased rev...",https://www.tripadvisor.com/Restaurant_Review-...,Chinese | Asian | Vietnamese,NaN,NaN,NaN,CUISINES | Meals,"Chinese, Asian, Vietnamese | Dinner",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1235 Hopaka St, Honolulu, Oahu, HI 96814-4302",1.1 miles from King Kamehameha Statue,https://media-cdn.tripadvisor.com/media/photo-...,[]
159,"Curry King, Honolulu","Curry King, Honolulu: See unbiased reviews of ...",https://www.tripadvisor.com/Restaurant_Review-...,Japanese | Indian,NaN,NaN,NaN,CUISINES,"Japanese, Indian",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"100 N Beretania St Chinese Cultural Plaza, Hon...",0.2 miles from Downtown Honolulu,NaN,[]
161,"Sweetheart Cafe, Honolulu","Sweetheart Cafe, Honolulu: See unbiased review...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1120 Maunakea St Ste 105, Honolulu, Oahu, HI 9...",0.2 miles from Downtown Honolulu,NaN,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15150,"Subway, Honolulu","Subway, Honolulu: See unbiased reviews of Subw...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,Meals,"Lunch, Dinner",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Space #1069 Ala Moana Center, Honolulu, Oahu, ...",1.3 miles from King Kamehameha Statue,NaN,[]
15151,"Habibi tasty, Honolulu","Habibi tasty, Honolulu: See unbiased reviews o...",https://www.tripadvisor.com/Restaurant_Review-...,Middle Eastern,NaN,NaN,NaN,CUISINES,Middle Eastern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"210 Kapuni St, Honolulu, Oahu, HI 96815-3314",0.2 miles from Waikiki Beach,NaN,[]
15363,"Forum Cafe, Honolulu","Forum Cafe, Honolulu: See unbiased reviews of ...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,FEATURES,Gift Cards Available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"100 N Beretania St, Honolulu, Oahu, HI 96817-4712",0.2 miles from Downtown Honolulu,NaN,[]
15421,"Islands Restaurant, Honolulu","Islands Restaurant, Honolulu: See unbiased rev...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1441 Kapiolani Blvd, Honolulu, Oahu, HI 96814-...",0.4 miles from Ala Moana Beach Park,NaN,[]
15897,"Timmy T's Gourmet Grinders, Honolulu","Timmy T's Gourmet Grinders, Honolulu: See unbi...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,Meals,"Breakfast, Lunch",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1177 Bishop St Base of Hawaiian Telcom Buildin...,0.2 miles from Downtown Honolulu,NaN,[]

# Explode List Column

In [250]:
reviews_df = df[['url', 'review_data']]
reviews_df

,url,review_data
0,https://www.tripadvisor.com/Restaurant_Review-...,"[{'user_name': 'waynen95', 'bubble_rating': 4..."
1,https://www.tripadvisor.com/Restaurant_Review-...,"[{'user_name': '28franniel', 'bubble_rating':..."
2,https://www.tripadvisor.com/Restaurant_Review-...,"[{'user_name': 'Amy M', 'bubble_rating': 5.0,..."
3,https://www.tripadvisor.com/Restaurant_Review-...,"[{'user_name': 'vrite', 'bubble_rating': 4.0,..."
4,https://www.tripadvisor.com/Restaurant_Review-...,"[{'user_name': 'bobika', 'bubble_rating': 5.0..."
...,...,...
15898,https://www.tripadvisor.com/Restaurant_Review-...,"[{'user_name': 'Poodletoes', 'bubble_rating':..."
15899,https://www.tripadvisor.com/Restaurant_Review-...,"[{'user_name': 'etan92612', 'bubble_rating': ..."
15900,https://www.tripadvisor.com/Restaurant_Review-...,"[{'user_name': 'bryanmantezoni', 'bubble_rati..."
15901,https://www.tripadvisor.com/Restaurant_Review-...,"[{'user_name': 'Tim K', 'bubble_rating': 4.0,..."
15902,https://www.tripadvisor.com/Restaurant_Review-...,"[{'user_name': 'Lori M', 'bubble_rating': 5.0..."

In [258]:
pd.DataFrame.from_dict(df['review_data'])

                                             review_data
0      [{'user_name': 'waynen95',  'bubble_rating': 4...
1      [{'user_name': '28franniel',  'bubble_rating':...
2      [{'user_name': 'Amy M',  'bubble_rating': 5.0,...
3      [{'user_name': 'vrite',  'bubble_rating': 4.0,...
4      [{'user_name': 'bobika',  'bubble_rating': 5.0...
...                                                  ...
15898  [{'user_name': 'Poodletoes',  'bubble_rating':...
15899  [{'user_name': 'etan92612',  'bubble_rating': ...
15900  [{'user_name': 'bryanmantezoni',  'bubble_rati...
15901  [{'user_name': 'Tim K',  'bubble_rating': 4.0,...
15902  [{'user_name': 'Lori M',  'bubble_rating': 5.0...

[15903 rows x 1 columns]

In [259]:
reviews_df = pd.DataFrame(df['review_data'][0])
reviews_df

                                                    0
0                            {'user_name': 'waynen95'
1                                'bubble_rating': 4.0
2    'review_contents': 'a small pub in Chinatown ...
3                             {'user_name': 'Maria H'
4                                'bubble_rating': 5.0
5    'review_contents': 'Friendly and a good selec...
6                        {'user_name': 'RowerChicago'
7                                'bubble_rating': 5.0
8    'review_contents': 'Very casual fun spot for ...
9    short wait as food prepared to order. Great o...
10                              {'user_name': 'Kim J'
11                               'bubble_rating': 5.0
12   'review_contents': "If you are looking for a ...
13                           {'user_name': 'cg148777'
14                               'bubble_rating': 5.0
15   'review_contents': 'everytime i visit hanks i...

In [245]:
df[df['review_data'].apply(lambda x: len(x))>=1]

,restaurant_name,description,url,top_details,about,tag_cats,tags,more_details_cats,more_details,overall_rating,food_rating,service_rating,value_rating,atmosphere_rating,num_reviews,ranking,address,location,image_url,review_data
0,Hanks Cafe Honolulu,"Hanks Cafe Honolulu, Honolulu: See 5 unbiased ...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,Meals,"Breakfast, Lunch, Dinner",5.0,NaN,NaN,NaN,NaN,5.0,"#943 of 1,581 Restaurants in Honolulu","1038 Nuuanu Ave, Honolulu, Oahu, HI 96817-5117",0.1 miles from Downtown Honolulu,NaN,"[{'user_name': 'waynen95', 'bubble_rating': 4..."
1,"Bethel Union, Honolulu","Bethel Union, Honolulu: See 9 unbiased reviews...",https://www.tripadvisor.com/Restaurant_Review-...,$$ - $$$,NaN,NaN,NaN,FEATURES,Reservations,4.0,NaN,NaN,NaN,NaN,9.0,"#832 of 1,581 Restaurants in Honolulu","1115 Bethel St, Honolulu, Oahu, HI 96813-2202",0.1 miles from Downtown Honolulu,https://media-cdn.tripadvisor.com/media/photo-...,"[{'user_name': '28franniel', 'bubble_rating':..."
2,"Cafe Anasia, Honolulu","Cafe Anasia, Honolulu: See 5 unbiased reviews ...",https://www.tripadvisor.com/Restaurant_Review-...,$$ - $$$ | Vietnamese,NaN,NaN,NaN,CUISINES | Meals,"Vietnamese | Lunch, Dinner",4.5,NaN,NaN,NaN,NaN,5.0,"#903 of 1,581 Restaurants in Honolulu","2227 S Beretania St, Honolulu, Oahu, HI 96826-...",1.5 miles from Waikiki Beach,https://media-cdn.tripadvisor.com/media/photo-...,"[{'user_name': 'Amy M', 'bubble_rating': 5.0,..."
3,"Starbucks, Honolulu","Starbucks, Honolulu: See 8 unbiased reviews of...",https://www.tripadvisor.com/Restaurant_Review-...,$$ - $$$,NaN,NaN,NaN,Meals,"Breakfast, Lunch, Dinner",4.5,NaN,NaN,NaN,NaN,8.0,"#749 of 1,581 Restaurants in Honolulu","949 Auahi St, Honolulu, Oahu, HI 96814",1.1 miles from Downtown Honolulu,https://media-cdn.tripadvisor.com/media/photo-...,"[{'user_name': 'vrite', 'bubble_rating': 4.0,..."
4,"La Vela Wine & Spa, Honolulu","La Vela Wine & Spa, Honolulu: See 2 unbiased r...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2.0,"#1,040 of 1,581 Restaurants in Honolulu","2375 Ala Wai Blvd Waikiki Sand Villa Hotel, Ho...",0.4 miles from Waikiki Beach,https://media-cdn.tripadvisor.com/media/photo-...,"[{'user_name': 'bobika', 'bubble_rating': 5.0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15898,"Beer Lab HI, Honolulu","Beer Lab HI, Honolulu: See 20 unbiased reviews...",https://www.tripadvisor.com/Restaurant_Review-...,$$ - $$$ | Brew Pub | Pub,NaN,NaN,NaN,CUISINES | Meals | FEATURES,"Brew Pub, Pub | Lunch, Drinks | Seating, Wheel...",4.5,NaN,4.5,4.0,NaN,20.0,"#478 of 1,581 Restaurants in Honolulu","1010 University Ave B-1, Honolulu, Oahu, HI 96...",NaN,https://media-cdn.tripadvisor.com/media/photo-...,"[{'user_name': 'Poodletoes', 'bubble_rating':..."
15899,"Beer Lab HI, Honolulu","Beer Lab HI, Honolulu: See 20 unbiased reviews...",https://www.tripadvisor.com/Restaurant_Review-...,$$ - $$$ | Brew Pub | Pub,NaN,NaN,NaN,CUISINES | Meals | FEATURES,"Brew Pub, Pub | Lunch, Drinks | Seating, Wheel...",4.5,NaN,4.5,4.0,NaN,20.0,"#478 of 1,581 Restaurants in Honolulu","1010 University Ave B-1, Honolulu, Oahu, HI 96...",NaN,https://media-cdn.tripadvisor.com/media/photo-...,"[{'user_name': 'etan92612', 'bubble_rating': ..."
15900,"Saigon's Salad Cafe, Honolulu","Saigon's Salad Cafe, Honolulu: See 10 unbiased...",https://www.tripadvisor.com/Restaurant_Review-...,$ | Vietnamese,NaN,NaN,NaN,CUISINES | Meals,"Vietnamese | Lunch, Dinner",4.5,5.0,4.5,5.0,NaN,10.0,"#776 of 1,581 Restaurants in Honolulu","1778 Ala Moana Blvd Ste 216, Honolulu, Oahu, H...",1.3 miles from Waikiki Beach,https://media-cdn.tripadvisor.com/media/photo-...,"[{'user_name': 'bryanmantezoni', 'bubble_rati..."
15901,"Any Place Cocktail Lounge, Honolulu","Any Place Cocktail Lounge, Honolulu: See unbia...",https://www.tripadvisor.com/Restaurant_Review-...,Hawaiian,NaN,NaN,NaN,CUISINES | Meals,"Hawaiian | Lunch, Dinner",4.0,NaN,NaN,NaN,NaN,1.0,"#1,424 of 1,581 Restaurants in Honolulu","2065 S King St #100, Honolulu, Oahu, HI 96826-...",NaN,https://media-cdn.tripadvisor.com/media/photo-...,"[{'user_name': 'Tim K', 'bubble_rating': 4.0,..."
15902,Honolulu Cafe,"Honolulu Cafe, Honolulu: See 13 unbiased revie...",https://www.tripadvisor.com/Restaurant_Review-...,$,NaN,NaN,NaN,Meals,"Breakfast, Lunch",3.5,NaN,NaN,NaN,NaN,13.0,"#1,248 of 1,581 Restaurants in Honolulu","741 Bishop St, Honolulu, Oahu, HI 96813-4812",0.3 miles from Downtown Honolulu,https://media-cdn.tripadvisor.com/media/photo-...,"[{'user_name': 'Lori M', 'bubble_rating': 5.0..."

In [107]:
df_nonzero_reviews = df[(df['bubble_ratings'].apply(lambda x: len(x))>=1) & (~df['num_reviews'].isnull())].copy()

In [108]:
df_nonzero_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15653 entries, 0 to 15902
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   restaurant_name    15653 non-null  object
 1   description        15653 non-null  object
 2   url                15653 non-null  object
 3   top_details        15366 non-null  object
 4   about              4299 non-null   object
 5   tag_cats           8227 non-null   object
 6   tags               8227 non-null   object
 7   more_details_cats  6990 non-null   object
 8   more_details       6990 non-null   object
 9   overall_rating     15653 non-null  float64
 10  food_rating        14855 non-null  float64
 11  service_rating     14860 non-null  float64
 12  value_rating       14862 non-null  float64
 13  atmosphere_rating  12972 non-null  float64
 14  num_reviews        15653 non-null  float64
 15  ranking            15500 non-null  object
 16  address            15653 non-null  object
 17  location           15222 non-null  object
 18  image_url          15342 non-null  object
 19  user_names         15653 non-null  object
 20  bubble_ratings     15653 non-null  object
 21  review_contents    15653 non-null  object
dtypes: float64(6), object(16)
memory usage: 2.7+ MB

In [114]:
df_subset = df_nonzero_reviews[['url', 'user_names', 'bubble_ratings', 'review_contents']]

In [125]:
df_subset_exploded = (df_subset.set_index('url')
              .apply(lambda x: x.apply(pd.Series).stack())
              .reset_index()
              .drop('level_1', 1))

In [126]:
df_subset_exploded

,url,user_names,bubble_ratings,review_contents
0,https://www.tripadvisor.com/Restaurant_Review-...,Kittygal,5.0,I had a nice lunch here after a busy morning t...
1,https://www.tripadvisor.com/Restaurant_Review-...,HGKCFP,2.0,Big fan of MW so we tried this for lunch. Huge...
2,https://www.tripadvisor.com/Restaurant_Review-...,Roblovestotravel,4.0,If your downtown and are looking for a casual ...
3,https://www.tripadvisor.com/Restaurant_Review-...,kupunakane,5.0,This was our first visit since MW took over th...
4,https://www.tripadvisor.com/Restaurant_Review-...,Mei W,3.0,Had lunch with a friend here as she suggested ...
...,...,...,...,...
155289,https://www.tripadvisor.com/Restaurant_Review-...,AussieVG,5.0,We were staying at the Royal and had friends s...
155290,https://www.tripadvisor.com/Restaurant_Review-...,PearlNo1,5.0,"Our server, Kahea, went way beyond the call of..."
155291,https://www.tripadvisor.com/Restaurant_Review-...,Patty D,5.0,Exactly what one needs when walking in off the...
155292,https://www.tripadvisor.com/Restaurant_Review-...,PenelopeMelbourne,4.0,I’m staying at the Royal Hawaiian Resort and a...
155293,https://www.tripadvisor.com/Restaurant_Review-...,travelmeisteren,4.0,Definite hole in the wall Korean place. But f...

In [128]:
df_subset_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155294 entries, 0 to 155293
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   url              155294 non-null  object
 1   user_names       147184 non-null  object
 2   bubble_ratings   147951 non-null  float64
 3   review_contents  155294 non-null  object
dtypes: float64(1), object(3)
memory usage: 4.7+ MB

In [132]:
df_subset_exploded

,url,user_names,bubble_ratings,review_contents
0,https://www.tripadvisor.com/Restaurant_Review-...,Kittygal,5.0,I had a nice lunch here after a busy morning t...
1,https://www.tripadvisor.com/Restaurant_Review-...,HGKCFP,2.0,Big fan of MW so we tried this for lunch. Huge...
2,https://www.tripadvisor.com/Restaurant_Review-...,Roblovestotravel,4.0,If your downtown and are looking for a casual ...
3,https://www.tripadvisor.com/Restaurant_Review-...,kupunakane,5.0,This was our first visit since MW took over th...
4,https://www.tripadvisor.com/Restaurant_Review-...,Mei W,3.0,Had lunch with a friend here as she suggested ...
...,...,...,...,...
155289,https://www.tripadvisor.com/Restaurant_Review-...,AussieVG,5.0,We were staying at the Royal and had friends s...
155290,https://www.tripadvisor.com/Restaurant_Review-...,PearlNo1,5.0,"Our server, Kahea, went way beyond the call of..."
155291,https://www.tripadvisor.com/Restaurant_Review-...,Patty D,5.0,Exactly what one needs when walking in off the...
155292,https://www.tripadvisor.com/Restaurant_Review-...,PenelopeMelbourne,4.0,I’m staying at the Royal Hawaiian Resort and a...
155293,https://www.tripadvisor.com/Restaurant_Review-...,travelmeisteren,4.0,Definite hole in the wall Korean place. But f...

In [150]:
df_subset_exploded[df_subset_exploded.isnull().any(axis=1)]

,url,user_names,bubble_ratings,review_contents
97,https://www.tripadvisor.com/Restaurant_Review-...,NaN,4.0,My girlfriend and I went to Stage for Valentin...
248,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,"located within the Moana Surfrider, this moder..."
249,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,Aloha SDLHK! Mahalo for the review! I’m glad...
255,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,"Aloha, and thank you for sharing your experien..."
256,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,Good wine list and a relaxing environment to e...
...,...,...,...,...
154912,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,Aloha!\nThank you for taking time to write us ...
154913,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,Love this place (sometimes).....I always used ...
154914,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,"Aloha! We are very sorry for your experience, ..."
154915,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,We walked past this restaurant everyday and fi...
154916,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,Mahalo for the review.\nWe are glad you and yo...

In [109]:
def explode(df, lst_cols, fill_value=''):
    # make sure `lst_cols` is a list
    if lst_cols and not isinstance(lst_cols, list):
        lst_cols = [lst_cols]
    # all columns except `lst_cols`
    idx_cols = df.columns.difference(lst_cols)

    # calculate lengths of lists
    lens = df[lst_cols[0]].str.len()

    if (lens > 0).all():
        # ALL lists in cells aren't empty
        return pd.DataFrame({
            col:np.repeat(df[col].values, df[lst_cols[0]].str.len())
            for col in idx_cols
        }).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}) \
          .loc[:, df.columns]
    else:
        # at least one list in cells is empty
        return pd.DataFrame({
            col:np.repeat(df[col].values, df[lst_cols[0]].str.len())
            for col in idx_cols
        }).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}) \
          .append(df.loc[lens==0, idx_cols]).fillna(fill_value) \
          .loc[:, df.columns]

In [115]:
explode(df_subset, list_cols)

ValueError: Length of values does not match length of index

In [120]:
def unnesting(df, explode):
    idx = df.index.repeat(df[explode[0]].str.len())
    df1 = pd.concat([
        pd.DataFrame({x: np.concatenate(df[x].values)}) for x in explode], axis=1)
    df1.index = idx

    return df1.join(df.drop(explode, 1), how='left')

In [121]:
unnesting(df_subset, ['user_names', 'bubble_ratings', 'review_contents'])

ValueError: Length mismatch: Expected axis has 155294 elements, new values have 147184 elements

In [78]:
df_subset.isnull().sum()

url                0
user_names         0
bubble_ratings     0
review_contents    0
dtype: int64

In [50]:
df_subset.to_list()

AttributeError: 'DataFrame' object has no attribute 'to_list'