In [1]:
import pandas as pd

In [2]:
data_file = 'data/hon_eats_data.csv'

# EDA

In [4]:
df = pd.read_csv(data_file)
df.shape

(15903, 21)

In [5]:
df.head()

,Unnamed: 0,restaurant_name,description,url,top_details,about,tags,more_details,overall_rating,food_rating,...,value_rating,atmosphere_rating,num_reviews,ranking,address,location,image_url,user_names,bubble_ratings,review_contents
0,0,Hanks Cafe Honolulu,"Hanks Cafe Honolulu, Honolulu: See 5 unbiased ...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['waynen95', 'Maria H', 'RowerChicago', 'Kim J...","[4.0, 5.0, 5.0, 5.0, 5.0]",['a small pub in Chinatown with great service ...
1,1,"Bethel Union, Honolulu","Bethel Union, Honolulu: See 9 unbiased reviews...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://media-cdn.tripadvisor.com/media/photo-...,"['28franniel', 'LW811055', 'cindyq2', 'grantki...","[4.0, 4.0, 5.0, 4.0, 2.0, 5.0, 5.0]",['Our son took us to this new and hip spot to ...
2,2,"Cafe Anasia, Honolulu","Cafe Anasia, Honolulu: See 5 unbiased reviews ...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://media-cdn.tripadvisor.com/media/photo-...,"['Amy M', 'EmmJoans', 'Craig O', 'Tim K']","[5.0, 5.0, 5.0, 4.0]",['This is an unexpected find. Great bar atmosp...
3,3,"Starbucks, Honolulu","Starbucks, Honolulu: See 8 unbiased reviews of...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://media-cdn.tripadvisor.com/media/photo-...,"['vrite', 'jujuju123', 'tryblueocean', 'bombgu...","[4.0, 5.0, 5.0, 5.0, 4.0]",['Super busy Starbucks location but efficient ...
4,4,"La Vela Wine & Spa, Honolulu","La Vela Wine & Spa, Honolulu: See 2 unbiased r...",https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://media-cdn.tripadvisor.com/media/photo-...,"['bobika', 'Dianne W']","[5.0, 5.0]","['Great ambiance, wine and delicious salmon on..."

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15903 entries, 0 to 15902
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         15903 non-null  int64
 1   restaurant_name    15903 non-null  object
 2   description        15903 non-null  object
 3   url                15903 non-null  object
 4   top_details        0 non-null      float64
 5   about              0 non-null      float64
 6   tags               0 non-null      float64
 7   more_details       0 non-null      float64
 8   overall_rating     0 non-null      float64
 9   food_rating        0 non-null      float64
 10  service_rating     0 non-null      float64
 11  value_rating       0 non-null      float64
 12  atmosphere_rating  0 non-null      float64
 13  num_reviews        0 non-null      float64
 14  ranking            0 non-null      float64
 15  address            0 non-null      float64
 16  location           0 non-null      float64
 17  image_url          15369 non-null  object
 18  user_names         15903 non-null  object
 19  bubble_ratings     15903 non-null  object
 20  review_contents    15903 non-null  object
dtypes: float64(13), int64(1), object(7)
memory usage: 2.5+ MB